
        
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    color: rgba(98, 98, 98, 255);
    font-family: 'Playfair Display', serif;
}
.header {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.links li {
    display: inline-block;
    width: 18%;
    text-align: center;
    line-height: 166px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    text-decoration: none;
}
.links a {
    text-decoration: none;
    color: rgba(98, 98, 98, 255);
}
.links a:hover {
    color: rgb(104, 214, 248);
}
.main {
    margin-top: 26px;
}
.lorem-p {
    margin-top: 37px;
    width: 420px;
    font-size: 14px;
    line-height: 25px;
} 
.main-p {
    height: 45px;
    margin-top: 28px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.container div {
    display: inline-block;
    width: 420px;

}
.container div:nth-child(2) {
   margin-left: 56px;
  }
  .container:nth-child(2) {
    margin-top: 132px;
   }
   .container:nth-child(3) {
    margin-top: 132px;
   }
.footer {
    height: 187px;

  }
  .button {
    display: inline-block;
    width: 164px;
    height: 60px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    margin-left: 358px;
    margin-top: 58px;
  }
  .button a {
    text-decoration: none;
    color: rgba(98, 98, 98, 255);  
  }

